*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 4rem;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Sora", sans-serif;
    font-size: 2.25rem;
    line-height: 120%;
  }
}

h2 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 3.25rem;
  line-height: 110%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Sora", sans-serif;
    font-size: 2.25rem;
    line-height: 120%;
  }
}

h3 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 2.25rem;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Sora", sans-serif;
    font-size: 1.5rem;
    line-height: 120%;
  }
}

h4 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 1.5rem;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Sora", sans-serif;
    font-size: 1.125rem;
    line-height: 130%;
  }
}

h5 {
  text-transform: uppercase;
  background: linear-gradient(221deg, #A950C4 14.43%, #82269E 85.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Sora", sans-serif;
  font-size: 1.125rem;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Sora", sans-serif;
    font-size: 1rem;
    line-height: 150%;
  }
}

p {
  color: #666566;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 0.875rem;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
  color: #353436;
}

strong {
  color: #161617;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  strong {
    font-family: "Source Sans 3", sans-serif;
    font-size: 0.875rem;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

a {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  line-height: 140%;
  text-decoration: none;
  color: #161617;
  transition: 0.5s ease;
}
a:hover {
  opacity: 0.9;
}

.btn {
  background: linear-gradient(221deg, #A950C4 14.43%, #82269E 85.28%);
  border-radius: 1rem;
  padding: 0.75rem 2rem;
  transition: 0.3s ease;
  color: #FEFBFF;
  box-shadow: 0px 43px 60px 0px rgba(169, 80, 196, 0.14), 0px 12.963px 18.088px 0px rgba(169, 80, 196, 0.09), 0px 5.384px 7.513px 0px rgba(169, 80, 196, 0.07), 0px 1.947px 2.717px 0px rgba(169, 80, 196, 0.05);
}
.btn:hover {
  transform: scale(1.02);
  box-shadow: 0px 17px 51px rgba(169, 80, 196, 0.27), 0px 5.125px 9.34559px rgba(169, 80, 196, 0.175929), 0px 2.12006px 3.88106px rgba(169, 80, 196, 0.135), 0px 0.769896px 1.48393px rgba(169, 80, 196, 0.094071);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #EDEAEF;
}

svg, img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid rgb(255, 0, 0);
}

header {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  transition: 0.5s ease;
  position: fixed;
  z-index: 800;
}

.active-header {
  background-color: #FEFBFF;
  box-shadow: 0px 51px 80px 0px rgba(169, 80, 196, 0.08), 0px 15.375px 24.118px 0px rgba(169, 80, 196, 0.05), 0px 6.386px 10.017px 0px rgba(169, 80, 196, 0.04), 0px 2.31px 3.623px 0px rgba(169, 80, 196, 0.03);
}

.navbar-desktop {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}
.navbar-desktop .nav-desktop-item1 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar-desktop .nav-desktop-item1 .logo {
  width: 48px;
  height: 48px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-desktop .nav-desktop-item1 .menu-desktop {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar-desktop .nav-desktop-item1 .menu-desktop .menu-item {
  margin-left: 16px;
  position: relative;
}
.navbar-desktop .nav-desktop-item1 .menu-desktop .menu-item .nav-link-desktop {
  display: inline-block;
  padding: 12px 16px;
  position: relative;
}
.navbar-desktop .nav-desktop-item1 .menu-desktop .menu-item .nav-link-desktop::after {
  content: "";
  position: absolute;
  top: 42%;
  right: -3px;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  border-radius: 1px;
  transition: 0.15s ease;
  border-bottom: 2px solid #82269E;
  border-right: 2px solid #82269E;
}
.navbar-desktop .nav-desktop-item1 .menu-desktop .menu-item .nav-link-desktop:hover::after {
  top: 45%;
}
.navbar-desktop .nav-desktop-item1 .dropdown-menu {
  background-color: #EDEAEF;
  border-radius: 16px;
  padding: 16px 24px;
  box-shadow: 0px 51px 80px 0px rgba(169, 80, 196, 0.08), 0px 15.375px 24.118px 0px rgba(169, 80, 196, 0.05), 0px 6.386px 10.017px 0px rgba(169, 80, 196, 0.04), 0px 2.31px 3.623px 0px rgba(169, 80, 196, 0.03);
  list-style: none;
  position: absolute;
  top: 48px;
  left: 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.7s ease;
}
.navbar-desktop .nav-desktop-item1 .dropdown-menu .dropdown-item {
  width: 100%;
}
.navbar-desktop .nav-desktop-item1 .dropdown-menu .nav-link-dropdown {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  position: relative;
}
.navbar-desktop .nav-desktop-item1 .dropdown-menu .nav-link-dropdown::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  transition: 0.5s ease;
  width: 0%;
  height: 2px;
  background-color: #A950C4;
}
.navbar-desktop .nav-desktop-item1 .dropdown-menu .nav-link-dropdown:hover::after {
  width: 100%;
}
.navbar-desktop .nav-desktop-item1 .active-dropdown-menu {
  pointer-events: all;
  opacity: 1;
}
.navbar-desktop .nav-desktop-item2 {
  flex: 1 1 auto;
  gap: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-mobile {
  display: none;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
}
@media screen and (max-width: 960px) {
  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.navbar-mobile .bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
}
.navbar-mobile .bx::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 17%;
  width: 70%;
  height: 2px;
  transition: 0.4s ease;
  background-color: #82269E;
}
.navbar-mobile .bx::before {
  content: "";
  position: absolute;
  top: 64%;
  left: 17%;
  width: 70%;
  height: 2px;
  transition: 0.4s ease;
  background-color: #82269E;
}
.navbar-mobile .active-bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
}
.navbar-mobile .active-bx::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 17%;
  transform: rotate(-135deg);
  transition: 0.7s ease;
  width: 70%;
  height: 2px;
  background-color: #82269E;
}
.navbar-mobile .active-bx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17%;
  transform: rotate(-405deg);
  transition: 0.7s ease;
  width: 70%;
  height: 2px;
  background-color: #82269E;
}
.navbar-mobile .logo {
  width: 48px;
  height: 48px;
  z-index: 800;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-mobile {
  width: 100vw;
  height: 100vh;
  background-color: #FEFBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0, -100px, 0);
  transition: 1s ease;
}
.menu-mobile .nav-list-mobile {
  max-width: 1440px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.menu-mobile .nav-link-mobile {
  display: inline-block;
  font-family: "Sora", sans-serif;
  font-size: 2.25rem;
  line-height: 120%;
  color: #555456;
  padding: 16px 24px;
  position: relative;
}
.menu-mobile .nav-link-mobile::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 16px;
  width: 0%;
  height: 2px;
  transition: 1s ease;
  background-color: #A950C4;
}
.menu-mobile .nav-link-mobile:hover {
  color: #82269E;
}
.menu-mobile .nav-link-mobile:hover::after {
  width: 100%;
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}/*# sourceMappingURL=index.css.map */