
// reset
*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "partials/colors";
@import "partials/layout";
@import "partials/typography";
@import "partials/buttons";
@import "partials/spacing";




html{
  // scroll suave
  scroll-behavior: smooth;
}

body{
  width: 100%;
  // sempre preencer a tela inteira
  height: 100vh;
  // padrao htmlasdad
  position: relative;

  scroll-behavior: smooth;
  
  background-color:$white3;

  
}

// elementos de imagens fluidos para poder ocupar 100% do elemento de div pai
svg, img{
  display: block;
  width: 100%;
}

.border{
  border: 1px solid rgb(255, 0, 0);
}

.flex{
  display: flex
}

@import "partials/menu";
@import "partials/swiper";
@import "partials/icons";
@import "partials/footer";
@import "partials/animations";
@import "partials/secbest";
@import "partials/secdigitalaccount";
@import "partials/seccard";
@import "partials/secappnubank";
@import "partials/secinvite";


/* Estilo para a barra de rolagem */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra */
  background-color: $white3; /* Fundo da barra */
}

/* Parte que desliza (scroll thumb) */
::-webkit-scrollbar-thumb {
  background-color: $primary-light; /* Cor do thumb */
  border-radius: 10px; /* Bordas arredondadas */
}

/* Parte superior (botão para rolar para cima) */
::-webkit-scrollbar-button:single-button {
  background-color: $secondary-dark; /* Fundo do botão */
  height: 10px; /* Altura do botão */
  display: block; /* Certifica que é visível */
}