a{
  @include typeface-2(p2, desktop);
  text-decoration: none;
  color: $black1;
  transition: .5s ease;

    &:hover{
      opacity: .9;
    }
}

.btn{
  background: linear-gradient(221deg, $secondary-normal 14.43%, $primary-normal 85.28%);
  border-radius: 1rem;
  padding: .75rem 2rem;
  transition: .3s ease;
  color: $white1;


  box-shadow: 0px 43px 60px 0px rgba(169, 80, 196, 0.14), 0px 12.963px 18.088px 0px rgba(169, 80, 196, 0.09), 0px 5.384px 7.513px 0px rgba(169, 80, 196, 0.07), 0px 1.947px 2.717px 0px rgba(169, 80, 196, 0.05);

  &:hover{
    // aumenta scala do box 2%
    transform: scale(1.02);
    box-shadow: 
      0px 17px 51px rgba(169, 80, 196, 0.27), 
      0px 5.125px 9.34559px rgba(169, 80, 196, 0.175929), 
      0px 2.12006px 3.88106px rgba(169, 80, 196, 0.135), 
      0px 0.769896px 1.48393px rgba(169, 80, 196, 0.094071);
  }
}
.link{
  display: inline-block;

  color: $primary-normal;
  background-image: url(../../assets/svg/icon-arrow.svg);
  background-repeat: no-repeat;
  // 0% no eixo y para centralizar e 50 no x para ir para trás
  background-position: 0% 50%;
  font-size: 18px;

  padding: 16px 16px 16px 40px;

  position: relative;

  border: 1px solid red;

  &::after{
    content: '';
    position: absolute;
    display: block;
    

    top: 75%;
    left: 52px;

    width: 0%;
    height: 2px;
    border-radius: 2%;

    transition: .7s ease;

    background-color: $secondary-light;
  }

    &:hover{
      opacity: 0.8;
      padding-left: 64px;
      background-position: 8px 50%;
      &::after{
        width: 90%;
        background-color: $secondary-light;
      }
    }
}