//Colors of Project


// brand colors

// primary colors
$primary-normal: #82269E;
$primary-dark: #701F88;
$primary-light: #9C4FB4;

// secondary colors
$secondary-normal: #A950C4;
$secondary-dark: #9142A8;
$secondary-light: #BB71D2;

// branco colors
$white1: #FEFBFF;
$white2: #F7F2FA;
$white3: #EDEAEF;

//blacck colors
$black1: #161617;
$black2: #232224;
$black3: #353436;

// grayy colors
$gray1: #454446;
$gray2: #555456;
$gray3: #666566;
$gray4: #767576;
$gray5: #868587;
$gray6: #969597;
$gray7: #A6A6A7;

// auxiliarys

// reds
$red-normal: #EB3D3D;
$red-light: #F05454;
$red-dark: #D03333;

// greens
$green-normal: #32D957;
$green-light: #50E170;
$green-dark: #28BB49;

// yeloows
$yellow-normal: #FFCE52;
$yellow-light: #FFD76B;
$yellow-dark: #D9B043;


