header{
  width: 100%;
  height: 72px;
  background-color: transparent;
  box-shadow: none;
  
  transition: .5s ease;

  position: fixed;
  z-index: 800;
  
}

.active-header{
  background-color: $white1;
  box-shadow: 0px 51px 80px 0px rgba(169, 80, 196, 0.08), 0px 15.375px 24.118px 0px rgba(169, 80, 196, 0.05), 0px 6.386px 10.017px 0px rgba(169, 80, 196, 0.04), 0px 2.31px 3.623px 0px rgba(169, 80, 196, 0.03);
}


// efeitos responsivos de ativação navbar
.navbar-desktop{
  max-width: $container-xl;
  margin: 0 auto;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  // se for menos q 960 o nav desk some
  @include responsive(sm){
    display: none;
  }


  // filho 1
  // flex item filho e vai ser flex pai
  & .nav-desktop-item1{
    flex: 1 1 auto;
  
    // dentro dele tem display flex logo e items
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    & .logo{
      width: 48px;
      height: 48px;
      
      

      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .menu-desktop{
      list-style: none;
      display: flex;
      // alinha a esquerda
      justify-content: flex-start;
      align-items: center;
      
      & .menu-item{
        // cria margem a esquerda de totos elements
        margin-left: 16px;
        // pai do drop menu
        position: relative;



        & .nav-link-desktop{
          display: inline-block;
          // aumenta área clicável do botão
          padding: 12px 16px;
          


          position: relative;

          // criação da seta
          &::after{
            content: "";
            position: absolute;
            top: 42%;
            right: -3px;

            width: 7px;
            height: 7px;
            
            transform: rotate(45deg);
            border-radius: 1px;
            transition: .15s ease;

            border-bottom: 2px solid $primary-normal;
            border-right: 2px solid $primary-normal;;
          }

          &:hover{
            &::after{
              top: 45%;
            }
          }
          // fim criação seta com efeito

          

        }
      }


    }

    
    // parte dropdown
    & .dropdown-menu{
      background-color: $white3;
      border-radius: 16px;
      padding: 16px 24px;

      box-shadow: 0px 51px 80px 0px rgba(169, 80, 196, 0.08), 0px 15.375px 24.118px 0px rgba(169, 80, 196, 0.05), 0px 6.386px 10.017px 0px rgba(169, 80, 196, 0.04), 0px 2.31px 3.623px 0px rgba(169, 80, 196, 0.03);

      list-style: none;
      position: absolute;
      top: 48px;
      left: 24px;

      display: flex;
      // alinha a esquerda
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;

      // desaparece como link e apaga
      opacity: 0;
      pointer-events: none;

      // para efeito de aparecer
      transition: .7s ease;

      & .dropdown-item{
        
        width: 100%;
      }

      // efeito
      & .nav-link-dropdown{
        display: inline-block;
        width: 100%;
        padding: 8px 16px;
        // pseudo element pai
        position: relative;

        &::after{
          content: '';
          position: absolute;
          // fica abaixo
          top: 90%;
          left: 0;
          transition: .5s ease;

          width: 0%;
          height: 2px;

          background-color: $secondary-normal;
        }

        // modifica o after
        &:hover{
          &::after{
            width: 100%;
          }
        }
      }
    }


    & .active-dropdown-menu{
      pointer-events: all;
      opacity: 1;
    }
    
  }


  // filho 2
  & .nav-desktop-item2{
    flex: 1 1 auto;
    gap: 16px;
    
    display: flex;
    justify-content: flex-end;
    
    align-items: center;
  }


}

















//navbar mobal em primeiro momento apagado 
.navbar-mobile{
  display: none;
  
  max-width: $container-xl;
  margin: 0 auto;
  padding: 10px 24px;


  // quando entrar no menu small ele volta a aparecer como elemento de caixa
  @include responsive(sm){
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // hamburger padrao
  & .bx{
    width: 36px;
    height: 36px;

    position: relative;
    cursor: pointer;
    z-index: 800;
    



    // pseudo element x
    &::after{
      content: '';
      position: absolute;
      top: 40%;
      left: 17%;

      width: 70%;
      height: 2px;
      transition: .4s ease;

      background-color: $primary-normal;
    }

    // pseudo element x
    &::before{
      content: '';
      position: absolute;
      top: 64%;
      left: 17%;

      width: 70%;
      height: 2px;
      transition: .4s ease;

      background-color: $primary-normal;
    }
  }



  // menu hamburger depois
  & .active-bx{
    width: 36px;
    height: 36px;

    position: relative;
    cursor: pointer;
    z-index: 800;
    



    // pseudo element x
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 17%;

      transform: rotate(-135deg);
      transition: .7s ease;

      width: 70%;
      height: 2px;

      background-color: $primary-normal;
    }

    // pseudo element x
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 17%;

      transform: rotate(-405deg);
      transition: .7s ease;

      width: 70%;
      height: 2px;

      background-color: $primary-normal;
    }
  }



  & .logo{
    width: 48px;
    height: 48px;
    z-index: 800;
    
    

    display: flex;
    justify-content: center;
    align-items: center;
  }
}


// menu mobile na ativação do hamburger
.menu-mobile {
  
  // ocupa tela toda
  width: 100vw;
  height: 100vh;

  

  background-color: $white1;
  display: flex;
  justify-content: center;
  align-items: center;

  // desativa função para ativar no js
  opacity: 0;
  pointer-events: none;

  // para erguer um pouco os textos
  transform: translate3d(0, -100px, 0);
  transition: 1s ease;


  & .nav-list-mobile {
    max-width: $container-xl;
    list-style: none;

    display: flex;
    flex-direction: column;

      &  svg{
        width: 36px;
        height: 36px;

        path{
          stroke: $gray7;
          transition: .7s ease;
        }

        &:hover{
          path{
            stroke: $primary-normal;
          }
        }
      }
  }

  & .nav-link-mobile {
    display: inline-block;

    // incluindo tipo de fontes
    @include typeface-1(h3, desktop);
    color: $gray2;

    // aumenta area de contato do link
    padding: 16px 24px;

    position: relative;

    // efeito do pseudo
    &::after {
      content: '';
      position: absolute;
      top: 90%;
      left: 16px;
      

      width: 0%;
      height: 2px;
      transition: 1s ease;

      background-color: $secondary-normal;
    }

    &:hover {
      color: $primary-normal;

      &::after {
        width: 100%;
      }
    }
  }
}

// Classe para ativar o menu
.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}



