.fignu4-letter-u, .fignu4-letter-n{
  animation: fig4-letter 4s ease infinite alternate;
  stroke-width: 4;
  stroke-dasharray: 400 0;
  stroke-opacity: 01;
}

@keyframes fig4-letter{
  0%{
    stroke-width: 4;
    stroke-dasharray: 0 400;
    stroke-opacity: 1;
  }
  60%,100%{
    stroke-width: 4;
    stroke-dasharray: 400 0;
    stroke-opacity: 1;
  }

}

.button-app{
  transition: .3s ease;
    &:hover{
      
      filter: drop-shadow(0px 8px 16px rgba(169,80,196,0.25));
    }
}


